:root {
    --dark-purple: #2E073F;
    --medium-purple: #7A1CAC;
    --light-purple: #AD49E1;
    --background: #EBD3F8;
    background-color: var(--background);

}

input {
    margin: 0;
    padding: 0;
}

input[type="color"] {
    appearance: none;
    border-color: #7A1CAC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 10px;
    border-radius: 10%;
    color: #2E073F;
    height:
        100%;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    gap: 100px;
}

.container {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    background-color: white;
}

.box {

    margin: 0;
    padding: 0;
}